/*Definir estilos para el body*/
body{
    line-height: 1.6;
    background-color: #f5f5dc;
    color: #333;
}

* {
    box-sizing: border-box;
}

header{
    background-color: #2d3e50; /*Color de fondo*/
    color: #82a1e7; /*Color de la fuente*/
    padding: 10px 0;
    position:fixed;
    width: 100%; /*Ocupa todo el ancho de la ventana del navegador*/
    top: 0;
    z-index: 1000;

}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1{
    margin: 0;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    margin: 0 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-list a {
    text-decoration: none;
    color: #82a1e7;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #f4a261;
}

/*Estilos para el bloque hero*/
.hero{
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #82a1e7;
    padding: 0 20px;
    margin-top: 70px;
}
.hero h1{
    font-size: 48px;
    margin-bottom: 20px;
}

/*Estilos para el bloque section*/
.section {
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    margin-top: 70px;
}
.impacto {
    max-width: 1200px;
    margin: auto;
}
.impacto h2{
    color: #4a6a8b;
    text-align: center;
    justify-content: center;
    font-size: 35px;
}
.impacto p {
    color: #4a4a4a;
    text-align: center;
    justify-content: center;
    font-size: 27px;
}

/*Estilos par ale bloque mapa*/
.mapa {
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    margin-top: 70px;
}

img{
    max-width: 100%;
    height: auto;
}

/*Estilo para el bloque redes*/
.redes {
    color: #4a4a4a;
    font-size: 27px;
    text-align: center;
}

/*Estilo para el bloque redes*/
.redes {
    text-align: center;
    font-size: 25px;
}

.redes h2 {
    color: #4a6a8b;
    font-size: 35px;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size:30px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-youtube {
    background-color: #bb0000;
    color: white;
}

.fa-twitter {
    background-color: #55acee;
    color: white;
}

.fa-pinterest {
    background-color: #cb2027;
    color: white;
}

.fa-instagram {
    background-color: #125688;
    color: white;
}

@media(max-width:1024px){
    .hero{
        margin-top: 50px;
        margin-bottom: 0px;
        padding: 17px 0;
    }

    .hero h1{
        font-size: 47px;
        padding: 0px 17px;
    }

    .section{
        padding: 17px 0;
        margin-top: 0px;
        
    }

    .impacto{
        margin: 15px;
        padding: 17px;
        margin-top: 0px;
    }

    .impacto h2{
        margin-top: 0px;
        font-size: 34px;
    }

    .impacto p{
        font-size: 26px;
    }

    .mapa{
        margin-top: 0px;
    }

    .redes h2{
        font-size: 34px;
        margin-bottom: 0px;
    }

    .fa {
        padding: 17px;
        font-size:30px;
        text-align: center;
        text-decoration: none;
        margin: 10px;
        border-radius: 50%;
    }
    
    .logo h1{
        font-size: 32px;
    }

    .nav-list{
        font-size: 15px;
    }
}
@media (max-width:779px){
    .nav-list{
        font-size: 14px;
    }
}

@media (max-width:768px){
    .hero{
        margin-top: 60px;
        margin-bottom: 0px;
        padding: 15px 0;
    }

    .hero h1{
        font-size: 42px;
        padding: 0px 15px;
    }

    .section{
        padding: 10px;
        margin-top: 0px;
    }

    .impacto{
        margin: 10px;
        padding: 10px;
        margin-top: 0px;
    }

    .impacto h2{
        margin-top: 0px;
        font-size: 32px;
    }

    .impacto p{
        font-size: 21px;
    }

    .mapa{
        margin-top: 0px;
    }

    .redes h2{
        font-size: 32px;
        margin-bottom: 0px;
    }

    .fa {
        padding: 15px;
        font-size:30px;
        text-align: center;
        text-decoration: none;
        margin: 10px;
        border-radius: 50%;
    }
    
    .logo h1{
        font-size: 27px;
    }

    .nav-list{
        font-size: 14px;
    }
}

@media (max-width:725px){
    .nav-list{
        font-size: 12px;
    }
    .hero{
        margin-top: 50px;
    }
}
@media (max-width:696px){
    .hero{
        margin-top: 95px;
    }
}
@media (max-width:575px){
    .hero{
        margin-top: 100px;
    }
    .nav-list{
        flex-direction: column;
        font-size: 11px;
    }
}

@media (max-width:480px){
    .hero{
        margin-top: 150px;
        margin-bottom: 0px;
        padding: 10px 0;
    }

    .hero h1{
        font-size: 36px;
        padding: 0px 20px;
    }

    .section{
        padding: 10px 0;
        margin-top: 0px;
    }

    .impacto{
        margin: 15px;
        padding: 10px;
        column-width: 500px;
    }

    .impacto h2{
        margin-top: 0px;
        font-size: 30px;
    }

    .impacto p{
        font-size: 15px;
    }

    .mapa{
        margin-top: 0px;
    }

    .redes h2{
        font-size: 30px;
        margin-bottom: 0px;
    }

    .fa {
        padding: 10px;
        font-size:30px;
        text-align: center;
        text-decoration: none;
        margin: 10px;
        border-radius: 50%;
    }

    .logo h1{
        font-size: 27px;
    }

    .nav-list{
        flex-direction: column;
        font-size: 11px;
    }
}

@media (max-width:263px){
    .nav-list{
        padding-left: 0;
    }
}
